In [1]:
import pandas as pd
from pandas import ExcelWriter

In [2]:
df = pd.read_excel('sample.xlsx')
df

    name  salary
0   John   10000
1    Sam   11000
2  Harry    9000
3   Jeff    9500
4    Dan   12000

In [3]:
dt = {'name': 'Ganesh', 'salary': 9500}
dt

{'name': 'Ganesh', 'salary': 9500}

### Concat Dict to DF (Using Concat)

In [4]:
pd.concat([df, pd.DataFrame(dt, index=[0])]).reset_index().drop(columns=['index'])

     name  salary
0    John   10000
1     Sam   11000
2   Harry    9000
3    Jeff    9500
4     Dan   12000
5  Ganesh    9500

### Concat Dict to DF (Using Append)

In [5]:
df = df.append(pd.DataFrame(dt, index=[0])).reset_index().drop(columns=['index'])
df

     name  salary
0    John   10000
1     Sam   11000
2   Harry    9000
3    Jeff    9500
4     Dan   12000
5  Ganesh    9500

### Appending to Excel File

In [42]:
from openpyxl import load_workbook

path = "demo2.xlsx"
book = load_workbook(path)

writer = pd.ExcelWriter("demo2.xlsx", engine='openpyxl')
writer.book = book
writer.sheets = {ws.title: ws for ws in book.worksheets}


df.to_excel(writer, startrow=writer.sheets['Sheet1'].max_row, index = False,header= False)

writer.save()